.geointamap {
      height: 100%;
      width: 100%;
position: relative;
}

.app{
	background: #FFF;
}

.panel-group {
    margin-bottom: 80px;
}

.detalleInfoContainer{
	height: 100%;
	width: 100%;
}

.app-content{
	width: 100%;
	height: 100%;
}

.popup{
	padding-bottom: 45px;
}

.ubicationControls{
	background: #3A84FE;
}

.ubicationControls .btn{
	color:#FFF;
}

.sidebar-text-second{
	font-size: 18px;
}

#welcomeOverlay .overlay-dismiss{
    visibility: hidden;
}

#welcomeOverlayImage{
    max-width: 30%;
    padding-bottom: 50px;
}

#homeAppDescriptionTitle{
	font-style: bold;
}

.homeIconDescription{
	font-size: 18px;
}

.homeIcon{
	color:#007aff;
	vertical-align: middle;
}

#homeFeaturedescription{
	margin-top: 10px;
	margin-bottom: 15px;
}

.categoryTitle{
	color: #FFFFFF;
}

.mainBrand{
	cursor: pointer;
	cursor: hand;
}