{{newUbication}}
<div class="scrollable">
 <div class="scrollable-content section">
 	<form action="" id="ubicationForm" name="Ubication">
	    <div bs-panel title="Nueva Ubicación">

	       <input 
	       bs-form-control
	       type="text" 
	       ng-model="newUbication.name"
	        label="Nombre" 
	        label-class="col-xs-3 col-sm-2 col-lg-1" 
	        class="col-xs-9 col-sm-10 col-lg-11"
	        placeholder="Escribe un nombre para la ubicación"
	        required
       		/>

       	  	<input type="text" placeholder="Escribe una breve descripción para la ubicación" ng-model="newUbication.description" label="Descripción"           label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11" bs-form-control required></input>
      <input 
         bs-form-control
         type="text" 
         ng-model="newUbication.coords"
         ng-disabled="true"
          label="Coordenadas" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          />
       <input 
         bs-form-control
         type="text" 
         ng-model="newUbication.timestamp"
          label="Fecha" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          ng-disabled="true"
          />
	    </div>
	    <div bs-panel title="Información recibida">

        <div ng-if="newUbication.code == 501">
            <div class="alert alert-warning">
              No se han recibido datos en esta ubicación
            </div>
        </div>
			  <div ng-if="newUbication.code == 200" class="panel-group" id="accordion">
          <div class="panel panel-primary " ng-repeat="(categoryName, layers) in newUbication.info" ng-include="'templates/ubicationInfoDetail.html'">
          </div>
        </div>	
       	</div>
   	   <div bs-panel class="form-actions">
      	<div content-for="navbarAction" duplicate>
       	 	<button ng-click="persistNewUbication()" ng-disabled="Ubication.$invalid" class="btn btn-primary">
          		Guardar ubicación
        	</button>
      	</div>
    	</div>
	</form>
 </div>
</div>
